<h1>line-chart 20.1.0</h1>


<ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="data4"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="true"
    [xScaleMin]="xScaleMin" 
    [xScaleMax]="xScaleMax"   
    [yScaleMax]="0"
    >
</ngx-charts-line-chart>

<!-- referenceLines example -->
<!-- <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="data4"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="true"
    [xScaleMin]="xScaleMin" 
    [xScaleMax]="xScaleMax"   
    [referenceLines]="referenceLinesData" 
    [showRefLines]="true" 
    [showRefLabels]="true" 
    >
</ngx-charts-line-chart> -->

